.archive{
    #primary{
        display: flex;
        justify-content: space-between;
        flex-wrap:wrap;
        .page-title{
            margin-bottom:1.75rem;
        }
        .scrolling_news_block{
            .se-container{
                width:100%;
                max-width:100%;
                margin:0;
            }
        }
        .se-archive-content-part{
            width:100%;
            .se-single-archive-main{
                margin: var(--spacing-1);
                width:100%;
                article{
                    display: flex;
                    flex: 0 0 100%;
                    position: relative;
                    width: 100%;
                    flex-wrap:wrap;
                    align-items: center;
                    .se-post-thumbnail{
                        width: 50%;
                        img{
                            aspect-ratio: 16 / 9;
                            display: block;
                            object-fit: cover;
                        }
                    }
                    .entry-header{
                        align-items: flex-start;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        padding-left: 1.75rem;
                        position: relative;
                        width: 50%;
                        margin:1rem 0;
                    }
                    a{
                        color:var(--color-2);
                        transition:350ms color;
                        display: inline-block;
                        &:hover{
                            color:var(--color-1);
                        }
                    }
                }
            }
            .se-archive-list-top{
                    display:grid;
                    gap:var(--flex-gap);
                    grid-template-columns: repeat(3, 1fr);
                article{
                    a{
                        color:var(--color-2);
                        transition:color 350ms;
                        &:hover{
                            color:var(--color-1);
                        }
                    }
                }
            }
            .se-archive-list-bottom{
                display:grid;
                gap:var(--flex-gap);
                grid-template-columns: repeat(4, 1fr);
                article{
                    a{
                        color:var(--color-2);
                        transition:color 350ms;
                        &:hover{
                            color:var(--color-1);
                        }
                    }
                }
                &.secondary{
                    article{
                        margin-bottom:0;
                    }
                }
            }
            article{
                margin-bottom:1.75rem;
            }
        }
    }
     .navigation{
        width:100%;
        margin: var(--spacing-1);
        .nav-links{
            text-align:center;
            font-size:1.25rem;
            display:flex;
            justify-content: center;
            gap:.75rem;
            font-weight:bold;
            span{
                background-color:var(--color-1);
                color:white;
                padding:.5rem;
            }
            a{
                background-color:#efefef;
                color:var(--color-2);
                padding:.5rem;
                transition:background 350ms;
                &:hover{
                    background-color:#ccdee8;
                    color:var(--color-2);
                }
            }
        }
    }
    @media(max-width:980px){
        #primary{
        .page-title{
            margin-bottom:1.5rem;
        }
        .se-archive-content-part{
            .se-single-archive-main{
                article{
                    flex-direction: column;
                    margin-bottom:1.5rem;
                    .se-post-thumbnail{
                        width:100%;
                    }
                    .entry-header{
                        width:100%;
                        padding-left:0;
                        margin-bottom:0;
                    }
                }
            }
            .scrolling_news_block{
                .se-container{
                    width:100%;
                    max-width:100%;
                    margin:0;
                }
            }
            .se-archive-list-top{
                grid-template-columns: 1fr;
                margin-bottom:1.75rem;
                article{
                    margin-bottom:0;
                    flex: 1 1 100%;
                    max-width: 100%;
                    img{
                        width:100%;
                    }
                }
            }
            .se-archive-list-bottom{
                grid-template-columns: 1fr;
                article{
                    width: 100%;
                    margin-bottom:0;
                    flex:1 1 0;
                    max-width:100%;
                    &:last-child{
                        margin-bottom:1.5rem;
                    }
                    img{
                        width:100%;
                    }
                }
            }
        }
    }
    }
}