footer{
    background-color:var(--color-4);
    padding:1.25rem 0;
    z-index: 1000000;
    position: relative;
    .se-footer-top{
        display:flex;
        justify-content: space-between;
        flex-wrap:wrap;
        gap:.5rem;
        ul{
            display:flex;
            gap:var(--flex-gap);
            list-style:none;
            margin:0;
            margin-block-start:0;
            padding:0;
            li{
                color:white;
                a{
                    color:white;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
        @media(max-width:980px){
            > div{
                width:100%;
            }
        }
    }
    .se-footer-bottom{
        display:flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-top:1.25rem;
        .se-footer-social{
            display:flex;
            justify-content: flex-end;
            gap:1rem;
            a{
                display:flex;
                svg{
                    width:22px;
                    height:22px;
                    transition:fill 350ms;
                    path{
                        fill:white;
                        transition:fill 350ms;
                    }
                }
            }
            a:hover{
                svg{
                    fill: var(--color-1);
                    path{
                        fill:var(--color-1);
                    }
                }
            }
        }
        .se-site-info{
            color:white;
        }
        @media(max-width:980px){
            flex-direction: column;
            align-items: flex-start;
            gap:var(--flex-gap);
        }
    }
}