.se-single-post{
    .entry-header{
        padding:0;
        .se-post-entry-meta{
            display:flex;
            gap:.75rem;
            margin-top:.5rem;
            .se-meta-author-image-part{
                img{
                    object-fit: cover;
                    border-radius:50%;
                    border:solid 2px var(--color-1);
                    overflow:hidden;
                }
            }
            .se-meta-info-part{
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
    }
    .se-posts-featured-4{
        span.h4{
            color: #fff;
            font-size: 1rem;
            margin: auto 0;
            padding: .75rem 1.25rem;
            @media(max-width:980px){
                padding:.75rem 0;
            }
        }
    }
    .se-single-content-wrapper{
        display:flex;
        justify-content: space-between;
        .se-author{
            font-weight:bold;
        }
        > article{
            width:70%;
            .se-post-thumbnail{
                img{
                    width:100%;
                    object-fit: cover;
                    height:437px;
                    aspect-ratio: 19/6;
                }
            }
        }
        aside{
            width:27.5%;
        }
    }
    .se-related-posts-single{
        .se-related-posts-single-title-section{
            background-color: var(--color-3);
            display: flex;
            justify-content: space-between;
            margin-bottom:1.5rem;
            p{
                align-items: center;
                background-color: var(--color-1);
                color: #fff;
                display: flex;
                flex: 0 0 auto;
                font-weight: 700;
                justify-content: center;
                padding: .75rem 1.25rem;
                text-align: center;
                text-transform: uppercase;
                white-space: nowrap;
                margin:0;
                @media(max-width:980px){
                    padding:.75rem;
                }
            }
        }
        .se-related-post-single{
            display:flex;
            gap:var(--flex-gap);
            align-items: center;
            margin-bottom:1.75rem;
            a{    
                color:var(--color-2);
                transition: color 350ms;
                flex:1 0 auto;
                img{
                    aspect-ratio: 1/1;
                    object-fit: cover;
                    display:block;
                }
            }
            &:hover{
                a{
                    color:var(--color-1);
                }
            }
        }
    }
    .se-tags{
        a{
            padding:.5rem;
            color:var(--color-2);
            font-weight:bold;
            border:solid 2px var(--color-2);
            border-radius: .25rem;
            margin-right:.5rem;
            transition: background 350ms;
            &:hover{
                background-color:rgba(0,0,0,.1);
            }
        }
    }   
    .se-comments-wrapper{
        textarea, input{
            border-radius: .25rem;
            &:focus-visible{
                outline: 2px solid var(--color-1);
            }
        }
        .comment-form-author, .comment-form-email{
            display:inline;
            margin-right:.5rem;
        }
        .form-submit #submit{
            background-color:var(--color-1);
            color:white;
            border-radius: .25rem;
            font-weight: 700;
            padding: .5rem 1rem;
            text-transform: uppercase;
        }
        .form-submit #submit:hover{
            cursor:pointer
        }
        .comment-form-comment label{
            margin-bottom:.25rem;
            display:block;
        }
    }
   .post-navigation{
        margin-top:1.5rem;
        a{
            color:var(--color-2);
            transition:color 350ms;
            font-size:1rem;
            &:hover{
                color:var(--color-1);
            }
            .nav-title{
                font-weight:bold;
            }
        }
    }
    @media(max-width:980px){
        .se-related-post-single{
            margin-bottom:1.5rem;
        }
        .se-single-content-wrapper{
            flex-wrap: wrap;
            > aside, > article{
                width:100%;
            }
            > article > .se-post-thumbnail{
                img{
                    height:222px; 
                }
            }
                .se-comments-wrapper{

                    .comment-form-author, .comment-form-email{
                        display:block;
                        margin-right:0;
                    }
                    input{
                        width:100%;
                    }

                    .comment-form-cookies-consent{
                        input{
                            width:auto;
                        }
                    }
                    .form-submit #submit{
                        font-size:1.25rem;
                        padding-top:.75rem;
                        padding-bottom:.75rem;
                    }

                }
        }
    }
}