/* Custom CSS */

:root{
	--color-1: #005a8c;
    --color-2:  #1f1e1e;
	--color-3: #ccdee8;
	--color-4: #333;
	--font-family-1:'Roboto';
	--spacing-1:1.75rem 0;
	--spacing-2:6rem 0;
	--flex-gap:1.75rem;
}

.se-container{
	max-width:90%;
	margin:auto;
}

body .se-block:first-child{
	margin-top:0;
}

.lazy-blur {
    object-fit: cover;
    filter: blur(20px);
    transition: filter 250ms ease;
}

.lazy-blur.loaded {
    filter: blur(0);
    opacity: 1;
}


@media(min-width:1440px){
	.se-container{
		max-width:1380px;
	}
}


@import "typography";
@import "header";
@import "footer";

a{
	text-decoration: none;
}

.se-block{
	margin: var(--spacing-1)
}

@media(max-width:980px){
	:root{
		--spacing-1:1.5rem 0;
		--spacing-2:4rem 0;
		--flex-gap:1.5rem;
	}
}

.alignfull {
	width: 100%;
	margin: auto;
}

.alignwide {
	width: 80%;
	margin: auto;
}

//@import "single";
//@import "archive";
@import "blocks/load";


.se-widget-social-links{
	.se-widget-social-links-heading-section{
		background-color: var(--color-3);
		display: flex;
		justify-content: space-between;
		margin-bottom: 1.75rem;
		p{
			align-items: center;
			background-color: var(--color-1);
			color: #fff;
			display: flex;
			flex: 0 0 auto;
			font-weight: 700;
			justify-content: center;
			margin: 0;
			padding: .75rem 1.25rem;
			text-align: center;
			text-transform: uppercase;
			white-space: nowrap;
			@media(max-width:980px){
				padding:.75rem;
			}
		}
	}
	.se-widget-social-links-list{
		align-items: center;
		display: flex;
		gap: 1rem;
		a{
			display:flex;
			svg{
				height: 30px;
				transition: fill .35s;
				width: 30px;
				path{
					transition: fill .35s;
				}
			}
			&:hover{
				svg{
					path{
						fill:var(--color-1);
					}
				}
			}
		}
	}
}