.featured_news_block{
    .se-featured-news-block-container{
        display:grid;
        gap:var(--flex-gap);
        grid-template-columns: repeat(3, 1fr);
        .se-featured-news-image-category{
            position:relative;
            img{
                display:block;
                height:248px;
            }
            .se-post-category{
                position:absolute;
                bottom:0;
                left:0;
                background-color: var(--color-1);
                border-radius: .25rem;
                border-top-left-radius:0;
                border-bottom-left-radius:0;
                font-weight: 700;
                padding: .5rem;
                color:white;
                text-transform: uppercase;
                a{
                    color:white;
                }
            }
        }
        > article{
            .featured-news-post-title-content{
                span{
                    display:block;
                    margin:0;
                    a{
                        color:var(--color-2);
                        display: inline-block;
                        padding: .75rem 0;
                        margin:0;
                        &:hover{
                            color:var(--color-1);
                        }
                    }
                }
            }
        &:hover{
            h2{
                color:var(--color-1);
            }
        }
        }
    }
    @media(max-width:980px){
        .se-featured-news-block-container{
            grid-template-columns: 1fr;
            .se-featured-news-image-category{
                img{
                    height:auto;
                    width:100%;
                }
                .se-post-category{
                    font-size:.75rem;
                    padding:.25rem;
                }
            }
            .featured-news-post-title-content{
                span{
                    font-size:1.25rem;
                }
            }
        }
    }
}