.hero_block {
    .se-hero-block-container{
        position:relative;
        display: flex;
        flex: 0 0 100%;
        width: 100%;
        img{
            object-fit: cover;
            display: block;
            aspect-ratio: 16 / 9;
            width:50%
        }
        .hero-post-title-content{
            position: relative;
            padding-left: 1.75rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            width:50%;
            .post-category{
                background-color:var(--color-1);
                padding:.5rem;
                border-radius:.25rem;
                font-weight:bold;
                margin-bottom:1rem;
                a{
                    color:white;
                    text-transform:uppercase;
                }
            }
            span a{
                color:var(--color-2);
                display: inline-block;
                &:hover{
                    color:var(--color-1);
                }
            }
        }
        @media(max-width:980px){
            flex-direction:column;
            .hero-post-title-content{
                width:100%;
                padding-left:0;
                padding-top:.75rem;
                .post-category{
                    margin-bottom:.25rem;
                }
            }
            img{
                width:100%;
            }
        }
        @media(max-width:420px){
            h1{
                font-size:2rem;
            }
        }
    }
}